{% extends 'stories/main_template.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block content %}
<h1 class="w-100 text-center">{{storyName}}</h1>
<h4 class="w-75 text-right">by {{storyAuthor}}</h4>
	{% for component in componentList %}
	  {% if component.type == "textbox" %}
	  	<p>{{component.contents}}</p>
	  {% else %}
	    <image src="{{component.contents}}" class="story-img"/>
	  {% endif %}
	{% endfor %}

	
	<div class="row">
      <h1 class="container-fluid">Rate this product:</h1>
      <div class="button-container">

        <button class="btn btn-danger btn-sm amb update-rating" 
                data-product='xrating' 
                data-val='1' 
                data-pid='{{storyId}}'>1</button>

        <button class="btn btn-warning btn-sm amb update-rating" 
                data-product='xrating' 
                data-val='2'
                data-pid='{{storyId}}'>2</button>

        <button class="btn btn-info btn-sm amb update-rating" 
                data-product='xrating' 
                data-val='3'
                data-pid='{{storyId}}'>3</button>

        <button class="btn btn-primary btn-sm amb update-rating" 
                data-product='xrating' 
                data-val='4'
                data-pid='{{storyId}}'>4</button>

        <button class="btn btn-success btn-sm amb update-rating" 
                data-product='xrating' 
                data-val='5'
                data-pid='{{storyId}}'>5</button>
      </div>
    </div>
	
{% endblock content %}

{% block title %}
	{{title}}
{% endblock title %}

{% block loginspace %}
	{% if userLoggedIn %}
    	<span class="font-weight-bold text-white mr-5">Hello {{request.user.username}}</span>
    	 <a href="/logout/" class="btn btn-danger">Logout</a>
   	{% else %} 	
   	    <a href="/login/" class="btn btn-warning">Login</a>
	{% endif %}
{% endblock loginspace %} 